 /* 
 Color palette:
#267F84
#3DCDD4
#49F6FF
#123E40
#42DDE5
 
 
 */


body {
    background-color: black;
    display: block;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.Container {
    display: flex;
    margin: auto;
    width: 75%;
    gap: 3%;
    flex-wrap:wrap;
    justify-content:center;
    align-items: flex-start;
    height: auto;
}

.box {
    text-align: center;
    flex-shrink: 1;
    max-width: 95%;
    max-height: 95%;
    min-width: 0;
    min-height: 0;
    margin: 10px;
}
h1,h2{
    color: #3DCDD4;
    letter-spacing: 2px;
    font-weight: bold;
}
p{
    color: #3DCDD4;
}
.box h1 {
    font-size: 40px;

}

.box p {
    font-size: 20px;

}

.box img {
    max-height: 350px;
    width: 100%;
    text-align: left;
    object-fit: scale-down;

    box-shadow: 30px 30px 130px 3px #d80f0f;
    border-radius: 30%;
}

.Border {
    border: solid;
    border-width: 5px;
    border-color: #42DDE5;
}
.Skill{

    color: #3DCDD4;
    border: solid;
    border-width: 3px;
    border-color: #42DDE5;
    padding: 5px;
    transition-duration: 0.4s;

}
.Skill:hover{
    background-color: #42DDE5;
    color:black;
    box-shadow: 0 0 15px 5px #267F84;
}
.Container_Skill{
    display: flex;
    margin: auto;
    flex-direction: row;
    width: auto;
    gap: 15px;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items: flex-start;
    height: auto;
}