body {
    display: flex;
    padding: 25px;
    gap: 10px;
    height: auto;

}

.CalculatorBody {
    width: 415px;
    height: auto;
    display: grid;
    padding: 20px;
    gap: 5px;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 5px;
    border-radius: 15px;
}

.CalculatorBody button {
    width: 100%;
    height: 100%;
    font-size: 72px;
    border-radius: 10px;
}

.ResultBox {
    width: 100%;
    height: 100%;
    font-size: 72px;
    border-radius: 10px;
    text-align: right;
    grid-area: 1 / 1 / 1 / 5;
    overflow: hidden;
}



.styleList {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    padding: 15px;
    border-radius: 8px;
}

.styleList button {
    width: 300px;
    height: 100%;
    font-size: 36px;
    border-radius: 10px;

}


.Classic {
    background-color: #242424;
    color: white;
}

.Classic button {
    background-color: #4b4b4b;
    color: white;
}

.Classic .ResultBox {
    background-color: #313131;
    color: white;
}

.Classic button:hover {
    background-color: #333333;
}


.Hacker {
    background-color: black;
    color: green;
    font-family: 'Courier New', Courier, monospace;

}

.Hacker .ResultBox {
    background-color: rgb(24, 24, 24);
    color: #00ff00;
}

.Hacker button {
    background-color: #252525;
    color: #00ff00;
    border-style: solid;
    border-width: 3px 0px 0px 3px;
    border-color: #1f490e;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;

}

.Hacker button:hover {
    background-color: #1f490e;
    box-shadow: 0 0 15px #00ff00;
}